In [1]:
from pathlib import Path


import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt


ROOT_DIR = Path(os.getcwd()).parent

<h4>Pumps that we collected ourselves</h4>

In [2]:
df_pumps = pd.read_json(
    os.path.join(ROOT_DIR, "data/pumps/pumps_31_03_2024.json")
)

In [3]:
df_pumps.groupby("exchange")["ticker"].count().to_frame()

          ticker
exchange
MEXC          19
binance       90
kucoin        66

<h4>Bitcoin Era P&Ds dataset</h4>

In [4]:
df_bitcoin_era = pd.read_csv(
    os.path.join(ROOT_DIR, "data/pumps/other_papers/pumps_bitcoin_era.csv")
)

df_bitcoin_era.groupby("exchange")["symbol"].count().to_frame()

           symbol
exchange
binance       520
bittrex       102
cryptopia     210
kucoin          2
yobit         276

<h4>Fantazzini P&Ds dataset</h4>

In [10]:
df_fantazzini = pd.read_csv(
    os.path.join(ROOT_DIR, "data/pumps/fantazzini_pumps.csv")
)

df_fantazzini

      ticker                 time exchange
0     ADXBTC  2022-09-20 15:56:00  Binance
1     ATMBTC  2022-01-12 17:37:00  Binance
2     SNTBTC  2021-10-23 16:31:00  Binance
3     NASBTC  2021-08-22 17:00:00  Binance
4    IRISBTC  2022-09-17 13:24:00  Binance
..       ...                  ...      ...
346   TCTBTC  2021-08-24 00:51:00  Binance
347   EOSBTC  2021-06-01 15:21:00  Binance
348   ELFBTC  2022-01-17 17:46:00  Binance
349   VIBBTC  2021-10-24 09:05:00  Binance
350   SRMBTC  2021-08-22 20:31:00  Binance

[351 rows x 3 columns]